<div class="hero">
  <nav>
    <h2 class="logo">DevInAgro</h2>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <a href="#" class="btn">Login</a>
  </nav>

  <div class="content">
    <h4>Tecnologia & Agronegócio</h4>
    <h1>DevInAgro</h1>
    <p>Um sistema pronto para inovar o seu negócio</p>
  </div>
</div>

<!--Sobre nós-->
<section class="about">
    <div class="main">
        <img src="/assets/img/img-about.jpg">
        <div class="about-text">
            <h2>Sobre nós</h2>
            <h5>Tecnologia <span>& Agronegócio</span></h5>
            <p>Somos uma StartUp que desenvolve uma tecnologia inovadora para o seu agronegócio</p>
            <button type="button">Entre em contato conosco</button>
        </div>
    </div>
</section>

<!--Serviços-->
<!-- <div class="services">

  <div class="card">
    <h5>Desenvolvimento web</h5>
    <div class="pra">
        <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
    </div>
  </div>
</div> -->


<!--Contato-->
<div class="contact-me">
  <p>Deixe nos levar a transformação digital até a sua empresa.</p>
  <a class="button-two" href="#">Contato</a>
</div>

<!--Rodapé-->
<footer>
  <p>Dev In Agro</p>
  <p>Por mais informações, por favor entre em contato.</p>
</footer>