<div class="signin-hero">
    <div class="container">
        <form class="row g-3 needs-validation" novalidate>
            <div class="header-signin">
                <img class="mb-4" src="./../../assets/img/folha.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Cadastre-se</h1>
              </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Nome" name="nome" required>
                <label for="floatingInput">Nome</label>
                <div class="invalid-tooltip">
                    Please choose a unique and valid username.
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Sobrenome" name="sobrenome" required>
                <label for="floatingInput">Sobrenome</label>
                <div class="invalid-tooltip">
                    Please choose a unique and valid username.
                </div>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Fazenda</option>
                  <option>Fazenda Rio Grande</option>
                  <option>Fazenda Operários do Sul</option>
                  <option>Fazenda Canarinhos</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid state.
                </div>
              </div>

            <div class="col-md-6 position-relative">
                <input type="email" class="form-control" id="floatingInput" placeholder="E-mail" name="email" required>
                <div class="invalid-tooltip">
                  Please choose a unique and valid username.
                </div>
            </div>

            <div class="col-md-6 position-relative">
                <input type="email" class="form-control" id="floatingInput" placeholder="Senha" name="email" required>
              <div class="invalid-tooltip">
                Please provide a valid city.
              </div>
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Cadastrar</button>
            </div>
          </form>
    </div>
    </div>